:root {
    accent-color: #993E1E;
}

body {
    background-color: #31656C;
}

.login_Container {
    background-color: #FCECD4;
}

a {
    color: white;
    text-decoration: none;
    background-color: #0B2E49;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;

}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FCECD4;
    margin-bottom: 20px;
}


.title {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 115px;
    color: white;
    
}

.menuDeroulantContainer {
    position: relative;
    display: inline-block;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    width: 190px;
}

.menuDeroulantBtn {
    border: none;
    background-color: transparent;
    color: #993E1E;
}

.menuDeroulant {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 10px;
}

.flecheBas {
    fill:#993E1E;
}

.menuDeroulantContainer:hover .menuDeroulantBtn {
    background-color: #993E1E;
    color: #FCECD4;
}

.menuDeroulantContainer:hover .flecheBas {
    fill: #FCECD4;
}

.menuDeroulantContainer:hover {
    background-color: #993E1E;
    color: #FCECD4;
}

.menuDeroulantContainer:hover .menuDeroulant {
    display: inline-block;
    background-color: #993E1E;
    color: #FCECD4;
}

.menuDeroulant .menuItem {
    color: #FCECD4;
    background-color: #993E1E;
    font-size: 24px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.menuItem:hover {
    color: #993E1E;
    background-color: #FCECD4;
    border-radius: 30px;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    align-items: center;
    border-radius: 30px;
    background-color: #FCECD4;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    margin: 0px;
}

form {
    position: relative;
    display: flex;
    width: calc(100% - 200px);
    flex-direction: column;
    align-items: center;
}

form span {
    align-items: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #0B2E49;
}

span svg {
    transform: translateY(-5px);
}

.formTitle {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    color: #993E1E;
    margin: 0px;
}

.sectionTitleContainer {
    display: flex;
    width: 100%;
    align-items: baseline;
    gap: 15px;
    position: relative;
}


.sectionTitle {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: #31656C;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sectionTitleContainer div {
    flex: 1;
    background-color: #31656C;
    border-radius: 30px;
    height: 12px;
}


.newBtnRight {
    position: absolute;
    right: 0;
    bottom: -25px;
    background-color: #31656C;
    color: #FCECD4;
}

.newBtnLeft {
    position: absolute;
    left: 0;
    bottom: -140px;
    border: none;
    max-width: 350px;
    background-color: #31656C;
    color: #FCECD4;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}






.new {
    background-color: #31656C;
    color: #FCECD4;
    border-radius: 20px;
}

.container {
    background-color: #FCECD4;
    color: #31656C;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
}


#save {
    color: white;
    text-decoration: none;
    background-color: #0B2E49;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    border: none;
}

.Descriptif, .user, .info {
    color:#0B2E49;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h1 {
    color:#993E1E;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

input[type="text"], input[type="number"], textarea {
    border: none;
    border-radius: 10px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    color: #434343;
    font-size: 30px;
    padding-left: 5px;
}

input[type="number"] {
    width: 100px;
}


input[type="radio"]{
    width: 20px;
    height: 20px;
}

select {
    border: none;
    background-color: transparent;
    color:#993E1E;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    appearance: none;
}


.btnSubResetContainer {
    position: absolute;
    bottom: 10px;
    right: -90px;

    display: flex;
    gap: 10px;
}

input[type="reset"] {
    border:#993E1E 3px solid;
    background-color: #FCECD4;
    color:#993E1E;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 58.25px;
}

input[type="date"], input[type="time"] {
    background-color: transparent;
    border: none;
    color: #993E1E;
    font-size: inherit;
    font-family: inherit;
    margin-left: 5px;
}

h2 {
    color:#31656C;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.btnEnd {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.resp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

option {
    background-color: transparent;
    color:#993E1E;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}



textarea {
    width: 33%;
    height: 200px;
}

input[type="submit"] {
    border: none;
    color: white;
    background-color: #0B2E49;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.btnReturn {
    position: absolute;
    left: 10;
    color:#993E1E;
    background-color: transparent;
}

.btnDelete {
    position: absolute;
    color:red;
    background-color: transparent;
    left: 0px;
    bottom: 10px;
    border: solid 1px red ;
    border-radius:30px;
}


table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin:10px;
  }

th, td {
    border-bottom: 7px solid #31656C;
    border-right: 7px solid #31656C;
    padding: 10px; 
}
  
table tr td:first-child, 
table tr th:first-child {
  border-left: 7px solid #31656C;
}

table thead>tr:first-child th:first-child {
    border-top-left-radius: 20px;
}


table tr:first-child th:last-child {
    border-top-right-radius: 20px;
}


table tbody>tr:last-child th:first-child{
    border-bottom-left-radius: 20px;
}
  

table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

thead th {
    background-color: #31656C;
    color:#FCECD4;
}

table a {
    background-color: #31656C;
    color:#FCECD4;
}

table thead th:first-child, table tr th {
    border-collapse: collapse;
}