body {
    background-color: #31656C;
}

.login_Container {
    background-color: #FCECD4;
}

a {
    color: white;
    text-decoration: none;
    background-color: #0B2E49;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;

}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FCECD4;
}


.title {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 115px;
    color: white;
    
}

.menuDeroulantContainer {
    position: relative;
    display: inline-block;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    width: 190px;
}

.menuDeroulantBtn {
    border: none;
    background-color: transparent;
    color: #993E1E;
}

.menuDeroulant {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 10px;
}

.flecheBas {
    fill:#993E1E;
}

.menuDeroulantContainer:hover .menuDeroulantBtn {
    background-color: #993E1E;
    color: #FCECD4;
}

.menuDeroulantContainer:hover .flecheBas {
    fill: #FCECD4;
}

.menuDeroulantContainer:hover {
    background-color: #993E1E;
    color: #FCECD4;
}

.menuDeroulantContainer:hover .menuDeroulant {
    display: inline-block;
    background-color: #993E1E;
    color: #FCECD4;
}

.menuDeroulant .menuItem {
    color: #FCECD4;
    background-color: #993E1E;
    font-size: 24px;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.menuItem:hover {
    color: #993E1E;
    background-color: #FCECD4;
    border-radius: 30px;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    align-items: center;
    border-radius: 30px;
    background-color: #FCECD4;
    margin-top: 20px;
}

body {
    margin: 0px;
}

form {
    display: flex;
    width: calc(100% - 200px);
    flex-direction: column;
    align-items: center;
}

form span {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.formTitle {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    color: #993E1E;
    margin: 0px;
}

.sectionTitleContainer {
    display: flex;
    width: 100%;
    align-items: baseline;
    gap: 15px;
    margin-bottom: 10px;
}

.sectionTitle {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: #31656C;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sectionTitleContainer div {
    flex: 1;
    background-color: #31656C;
    border-radius: 30px;
    height: 12px;
    
}






.new {
    background-color: #31656C;
    color: #FCECD4;
    border-radius: 20px;
}

.container {
    background-color: #FCECD4;
    color: #31656C;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
}


#save {
    color: white;
    text-decoration: none;
    background-color: #0B2E49;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border: none;
}

.Descriptif {
    color:#0B2E49;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h1 {
    color:#993E1E;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

input[type="text"] {
    border: none;
    border-radius: 10px;
}

select {
    border: none;
    background-color: transparent;
    color:#993E1E;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

input[type="reset"] {
    border:#993E1E 2px solid;
    background-color: transparent;
    color:#993E1E;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-radius: 20px;
}

h2 {
    color:#31656C;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.vaccin {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    align-items: center;
    margin:0px;
    padding:0px;
    flex-direction: row;
    justify-content: space-between;
}

.btnEnd {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.resp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

option {
    
    background-color: transparent;
    color:#993E1E;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}